[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.4"
pygments = "==2.4.2"
pytz = "==2019.2"
sqlparse = "==0.3.0"
django-crispy-forms = "*"
django-pygments = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"
