{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center" style="padding-top:20px;">
    <div class="col-md-8">
        <h1>Snippets</h1>
        <br>
        <!-- SNIPPET -->
        {% if snippets_list %}
          {% for snippet in  snippets_list %}

          <div class="card">
            <h5 class="card-header">{{snippet.description}} <a href="{% url 'user_snippets' snippet.user%}"  class="float-right"><small>{{snippet.user}}</small></a></h5>
            <div class="card-body">
              <a href="{% url 'language' snippet.language.slug %}"><h5 class="card-title">{{snippet.language}}</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">Creado: {{snippet.created}}</h6>
              <p class="card-text">{{snippet.snippet}}</p>
              <hr>
              <a href="{% url 'snippet' snippet.id %}" class="btn btn-primary">Ver</a>
              <a href="{% url 'snippet_edit' snippet.id %}" class="btn btn-info">Editar</a>
              <a href="{% url 'snippet_delete' snippet.id %}" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
          <br>
          {% endfor %}
        {% else %}
        <p>No hay datos.</p>


        {% endif %}
        <!-- FIN SNIPPET -->


  </div>
</div>
{% endblock %}
